apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: grafana
  releaseName: demo
  version: 6.26.1
  repo: https://grafana.github.io/helm-charts
  valuesFile: values.yaml
  namespace: grafana

resources:
- admin-creds.yaml

generators:
- configmap-dashboards.yaml
