apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configurations:
- kustomizeconfig/rollout-transform.yaml

helmCharts:
- name: grafana
  releaseName: demo
  version: 6.26.1
  repo: https://grafana.github.io/helm-charts
  valuesFile: values.yaml
  namespace: grafana

resources:
- services.yaml
- rollout.yaml
- admin-creds.yaml

patches:
- patch-deployments.yaml