ingress:
  enabled: true
  ingressClassName: traefik
  hosts:
  - grafana.demo.akuity.io

service:
  enabled: true
  type: ClusterIP
  port: 80
  targetPort: 3000
    # targetPort: 4181 To be used with a proxy extraContainer
  annotations: {}
  labels: {}
  portName: service

rbac:
  create: true
  namespaced: true
  pspEnabled: false

admin:
  existingSecret: admin-creds
  userKey: user
  passwordKey: password

envFromConfigMaps:
- name: env-cm

datasources:
 datasources.yaml:
   apiVersion: 1
   datasources:
   - name: Prometheus Local
     type: prometheus
     url: http://prometheus-operated.prometheus.svc.cluster.local:9090
     access: proxy
     isDefault: true

dashboardProviders:
 dashboardproviders.yaml:
   apiVersion: 1
   providers:
   - name: 'argocd'
     orgId: 1
     folder: ''
     type: file
     disableDeletion: false
     editable: true
     options:
       path: /var/lib/grafana/dashboards/argocd

dashboardsConfigMaps:
  argocd: argocd-dashboards-cm

serviceMonitor:
  enabled: true
  labels:
    release: demo
  interval: 1m
  scheme: http
  tlsConfig: {}
  scrapeTimeout: 30s
  relabelings: []

resources:
 limits:
   memory: 512Mi
 requests:
   memory: 128Mi